.banner img {
  filter: brightness(50%);
}

.backimg {
  margin-top: -300px;
}

.background-wrap {
  position: relative;
}

.banner {
  position: relative; /* 핵심코드 */
  background-repeat :no-repeat;
}

.banner-txt {
  position: absolute; /* 핵심코드 */
  top: 0; /* 핵심코드 */
  left: 0; /* 핵심코드 */
  width: 100%;
}



input:focus{outline: 1px solid blue;}